<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <% if (message) { %>
        <p class="error"><%= message %></p>
    <% } %>
    <form method="POST" action="/login">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <button id="Register">Register</button>

    <script>
        // JavaScript code to change the href of the button
        const button = document.getElementById('Register');

        button.addEventListener('click', () => {
            // Redirect to the "/register" URL
            window.location.href = '/register';
        });
    </script>
</body>
</html>
